<html>
    <head>
        <title>{$Header} - {$Author}</title>
        <link rel="stylesheet" href="{$Temp}/style.css" type="text/css" media="screen">
        <script src="lib/prototype.js"></script>
        <script type="text/javascript">
        {literal}
            url ='index.php';

            function access() {
                document.getElementById('next').accessKey="k";
                document.getElementById('prev').accessKey="j";
            }

            function getPageList(filename) {
                var linke='file='+filename+'&pagelist';
                var myAjax = new Ajax.Request(url,{method:'get', parameters: linke, onComplete: showit});
            }

            function getFileList() {
                var linke='?';
                var myAjax = new Ajax.Request(url,{method:'get', parameters: linke, onComplete: showit});
            }

            function showit(originalRequest){
                var newData = originalRequest.responseText;
                $('mintax').innerHTML = newData;
                $('mintax').style.display = 'block';
            }

            function hide(){
                $('mintax').style.display = 'none';
            }
        {/literal}
        </script>
    </head>

    <body onload="access()">
    <div id="main">
        <div id="box2">
            <p id="header">{$Header}</p>
        </div>
        <div id="box">
            <p id="pheader">{$PageHeader}</p>
        </div>
        <div id="content" onclick="hide();">
            <div id="mintax"></div>
            <div id="fix">
                {$Content}
            </div>
        </div>
        <div id="foot">
            {if $LeftNode!=-1}
                <a href="?file={$File}&page={$LeftNode}" id="prev"><img class="rimg" src="{$Temp}/images/left.png" alt="{$PrevNode}"></a>
                {else}
                <img class="rimg" src="{$Temp}/images/blank.png">
            {/if}
            <a href="?file={$File}&page=0"><img class="rimg" src="{$Temp}/images/home.png"></a>
            {if $RightNode!=-1}
                <a href="?file={$File}&page={$RightNode}" id="next"><img class="rimg" src="{$Temp}/images/right.png" alt="{$NextNode}"></a>
                {else}
                <img class="rimg" src="{$Temp}/images/blank.png">
            {/if}
        </div>

        <div id="info">
            <span style="float:right">{$Author} - {$Email}</span>
            <span style="float:left">{$PageCount} - <a href='#' onclick='getPageList("{$File}");'>Sayfa Listesi</a> - <a href='#' onclick='getFileList();'>Sunum Dosyaları</a></span>
        </div>
    </div>
    </body>
</html>
