{% extends "base.html" %}
{% load comments.comments %}
{% load library %}
{% load i18n %}

{% block title %} - {{ object.title }}{% endblock %}

{% build_blog_name %}
{% block content %}
<div class="entry">
<b><a href="{{object.get_absolute_url}}">{{object.title}}</a></b>
<span class="date">
{{object.pubdate|date:"d F y, l \@ H:i"}}
</span>
<br />
<br />
{{object.content}}
<br />
<br />
{% trans "Tags:" %}
{% for tag in object.tag.all %}
    <a href="{{ blog_url }}/tag/{{tag.title}}">{{tag.title}}</a>&nbsp;
{% endfor %}
</div>

AAA<br>
{% get_free_comment_count for blog.entry object.id as comment_count %}
{{ comment_count }}
BBB<br>

{% get_comment_list for blog.entry entry.id as comment_list %}
{% for comment in comment_list %}
{{comment.person_name}}
{% endfor %}
CCC<br>

{% endblock %}

