{% extends "base.html" %}
{% load comments %}
{% load library %}
{% load i18n %}

{% block title %} - {{ object.title }}{% endblock %}

{% build_blog_name %}
{% block content %}
<div class="entry">
    <b><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></b>
    <span class="date">{{ object.pubdate|date:"d F y, l \@ H:i" }}</span>
    <br>
    <br>
    {{ object.content }}
    <br>
    <br>
    {% trans "Tags:" %}
    {% for tag in object.tag.all %}
    <a href="{{tag.get_absolute_url}}">{{ tag.title }}</a>&nbsp;
    {% endfor %}
    {% if object.comments_enabled %}
        {% get_comment_list for blog.entry object.id as comment_list %}

        <h2 id="comments">{% trans "Comments" %}</h2>
        {% for comment in comment_list %}
            {% if comment.is_public %} 
                <div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
                    <a id="c{{ comment.id }}" href="#c{{ comment.id }}">#{{ forloop.counter }}</a> &nbsp; <b>{{ comment.user_name|striptags|escape }}</b> {%trans "commented"%}
                    <span class="date">{{ comment.submit_date|date:"d F y, l" }} @ {{ comment.submit_date|date:"H:i" }}</span>
                    <br>
                    {{ comment.comment|linebreaks|urlizetrunc:40 }}
                </div>
            {%endif%}
        {% endfor %}

        <h2>{% trans "Post a comment (max. 3000 character)" %}</h2>
    {% render_comment_form for object %}
    {% endif %}
</div>
{% endblock %}
