{% load i18n %}
{% block content %}
    <div class="paginator-bottom">
    <i><b>{{results.paginator.count}}</b> {% trans " result(s) in " %} <b>{{results.paginator.num_pages}}</b> {% trans "page(s)" %}<br></i>
    {% if results.has_previous %}
        <a href="{{blog_url}}/page/{{results.previous_page_number}}">{% trans "Previous Page" %}</a>
    {% else %}
        {% trans "Previous Page" %}
    {% endif %}

    &nbsp;- <b>{{results.number}}</b> / <b>{{results.paginator.num_pages}}</b> -&nbsp;

    {% if results.has_next %}
        <a href="{{blog_url}}/page/{{results.next_page_number}}">{% trans "Next Page" %}</a>
    {% else %}
        {% trans "Next Page" %}
    {% endif%}
    </div>
{% endblock %}
