<a href="{{ blog_url }}/feed/rss/{{tag_title}}/"><img border="0" alt="rss" src="{{ blog_url }}/../static/feed-icon-12x12.gif" /></a>
<a href="{{ blog_url }}/tag/{{tag_title}}/">{{ tag_title }}</a> ({{ entry_count }})<br>
