{% load i18n %}

{% if display_form %}
    <form name="comment_form" action="{{ blog_url }}/../comments/postfree/" method="post">
        {% trans "Your name:" %}
        <input class="dropdown" type="text" id="id_person_name" name="person_name" />

        {% trans "Comment:" %}
        <textarea class="dropdown" name="comment" id="id_comment" rows="10" cols="100" tinyMCE_this="true"></textarea>

        <div>{% trans "Remaining number of characters: " %} <b><span id="msgCounter"></span></b></div>
        <br/>

        <input type="hidden" name="options" value="{{ options }}" />
        <input type="hidden" name="target" value="{{ target }}" />
        <input type="hidden" name="gonzo" value="{{ hash }}" />
        <input class="dropdown" type="submit" name="preview" value="{% trans "Preview comment" %}" />
    </form>
{% endif %}
