[Desktop Entry]
Name=Boot Manager
Name[da]=Opstartsindlæser
Name[de]=Boot-Menü
Name[es]=Administrador de Arranque
Name[fr]=Démarrage du système
Name[hu]=Rendszerindítás kezelő
Name[it]=Gestore Boot
Name[nl]=Opstartbeheer
Name[pt_BR]=Gerenciador de Inicialização
Name[ru]=Менеджер загрузки
Name[sr]=Boot Менаџер
Name[sv]=Starthanteraren
Name[tr]=Açılış Yöneticisi
GenericName=Boot Manager
GenericName[da]=Opstartsindlæser
GenericName[de]=Boot-Menü
GenericName[es]=Administrador de Arranque
GenericName[fr]=Démarrage du système
GenericName[hu]=Rendszerindítás kezelő
GenericName[it]=Gestore Boot
GenericName[nl]=Opstartbeheer
GenericName[pt_BR]=Gerenciador de Inicialização
GenericName[ru]=Менеджер загрузки
GenericName[sr]=Boot Менаџер
GenericName[sv]=Starthanteraren
GenericName[tr]=Açılış Yöneticisi
Comment=An application for managing boot loader.
Comment[de]=Verwaltung der Menüeinträge beim Systemstart (GRUB).
Comment[es]=Un programa para configurar el cargador de arranque
Comment[fr]=Une application de gestion du chargeur de démarrage.
Comment[hu]=Alkalmazás a rendszertöltő kezeléséhez
Comment[it]=Un'applicazione per gestire il bootloader.
Comment[nl]=Een toepassing voor het beheren van de opstartlader.
Comment[pt_BR]=Um aplicativo para gerenciar o carregador de boot.
Comment[ru]=Приложение для управления загрузкой.
Comment[sr]=Апликација за управљање boot loaderom.
Comment[sv]=Ett program för hantering av startladdaren.
Comment[tr]=Önyükleyici yapılandırması için bir uygulama.
Exec=boot-manager
Icon=computer
Type=Application
Categories=Qt;KDE;System;
NotShowIn=KDE;
