<!-- Localization -->
{% load i18n %}
{% load library %}
{% build_blog_name %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Meta Data -->
<meta name="author"         content="S.Çağlar ONUR">
<meta name="copyright"      content="GPL-2">
<meta name="dc.coverage"    content="global">
<meta name="dc.creator"     content="S.Çağlar ONUR">
<meta name="dc.description" content="S.Çağlar ONUR, caglar10ur, caglar.onur, blog">
<meta name="dc.format"      scheme="IMT" content="text/html">
<meta name="dc.language"    scheme="RFC1766" content="tr-TR">
<meta name="dc.rights"      content="GPL-2">
<meta name="dc.source"      scheme="URI" content="http://cekirdek.pardus.org.tr/~caglar/blog/index.php">
<meta name="dc.subject"     content="S.Çağlar ONUR, caglar10ur, caglar.onur,  Linux is like living in a teepee. No Windows, no Gates and an Apache in house!, Linux">
<meta name="dc.title"       content="Linux is like living in a teepee. No Windows, no Gates and an Apache in house!">
<meta name="dc.type"        content="blog">
<meta name="dc.type"        content="weblog">
<meta name="description"    content="S.Çağlar ONUR, caglar10ur, caglar.onur, blog">
<meta name="distribution"   content="GLOBAL"> 
<meta name="keywords"       content="S.Çağlar ONUR, caglar10ur, caglar.onur,  Linux is like living in a teepee. No Windows, no Gates and an Apache in house!, Linux">
<meta name="resource-type"  content="document"> 

<!-- Robots -->
<meta name="robots" content="ALL,INDEX,FOLLOW,ARCHIVE"> 
<meta name="revisit-after" content="7 days"> 

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ blog_url }}/feed/rss">
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{{ blog_url }}/feed/atom">
<link rel="stylesheet" href="{{ blog_url }}/../static/blog.css" type="text/css">

<title>{{ blog_name }}</title>
</head>
<body>
    <div id="header">
        <center><a href="{{ blog_url }}">{{ blog_name }}</a><br /><br /></center>
    </div>

    <!-- content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- menu -->
    <div id="menu">
        <center>{{ blog_desc }}</center>
        <a id="tooCool" href="http://www.w3junkies.com/toocool/">Too Cool for Internet Explorer</a>
        <br />
        <br />
        <b>{% trans "Archives" %}</b><hr>
        {% build_month_list %}
        <select class="dropdown" onchange="if (this.value != '') {location=this.value;}">
            <option value="">{% trans "Archives" %}</option>
        {% for month in blog_months %}
            <option value="{{ blog_url }}/{{ month|date:"Y/m"|lower }}/">{{ month|date:"M Y" }}</option>
        {% endfor %}
        </select>
        <br />
        <br />
        <b>{% trans "Tags" %}</b><hr>
        {% build_tag_list %}
        {% for tag in blog_tags %}
            <a href="{{ blog_url }}/tag/{{tag.title}}/">{{ tag.title }}</a>&nbsp;
        {% endfor %}
        <br />
        <br />
        <b>{% trans "Links" %}</b><hr>
        {% build_link_list %}
        {% for link in blog_link %}
            <a href="{{link.url}}/">{{ link.title }}</a><br />
        {% endfor %}
        <br />
        <center><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django."/></a></center>
    </div>
</body>
</html>
