<!-- Localization -->
{% load i18n %}
{% load library %}
{% build_blog_name %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Other meta stuff that matters -->
{{ blog_meta }}

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ blog_url }}/feed/rss">
<!--
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{{ blog_url }}/feed/atom">
-->
<link rel="stylesheet" href="{{ blog_url }}/../static/blog.css" type="text/css" media="screen,projection">
<link rel="stylesheet" href="{{ blog_url }}/../static/print.css" type="text/css" media="print">

<title>{{ blog_name }}{% block title %}{% endblock %}</title>

<!-- Enable tinyMCE for all textarea widgets -->
<script type="text/javascript" src="{{ blog_url }}/../static/admin/media/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ blog_url }}/../static/admin/media/tinymce/textareas-comments.js"></script>
<script type="text/javascript" src="{{ blog_url }}/../static/admin/media/tinymce/remaining_chars.js"></script>

</head>
<body>
    {% if google_analytics %}
        {{ google_analytics }}
    {% endif %}

    <!-- Header -->
    <div id="header">
        <a href="{{ blog_url }}">{{ blog_name }}</a>
    </div>

    <!-- content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- menu -->
    <div id="menu">
        <!-- Description -->
        <center>{{ blog_desc }}</center>

        <!-- Archives -->
        <center>
        <h2>{% trans "Archives" %}</h2>
        {% build_month_list %}
        <select class="dropdownelect onchange="if (this.value != '') {location=this.value;}">
            <option value="">{% trans "Archives" %}</option>
        {% for month in blog_months %}
            <option value="{{ blog_url }}/{{ month|date:"Y/m"|lower }}/">{{ month|date:"F Y" }}</option>
        {% endfor %}
        </select>
        </center>

        <!-- Search -->
        <center>
        <h2>{% trans "Search" %}</h2>
        <form method="get" id="searchform" action="{{ blog_url }}/search/">
            <input class="dropdown" type="text" name="s" id="s"/>
        </form>
        </center>

        <!-- Latest Comments -->
        <a href="{{ blog_url }}/comments">{%trans "Latest Comments"%}</a>

        <!-- Tags -->
        <h2>{% trans "Tags" %}</h2>
        {% build_tag_menu %}
        {{ tag_menu }}

        <!-- Links -->
        <h2>{% trans "Links" %}</h2>
        {% build_link_list %}
        {% for link in blog_link %}
            <a href="{{link.url}}/">{{ link.title }}</a><br />
        {% endfor %}

        <!-- Banners -->
        <center>
            <a href="http://www.pardus.org.tr" target="_blank">
                <img border="0" alt="Pardus... Özgürlük İçin..." title="Pardus... Özgürlük İçin..." src="http://www.pardus.org.tr/banner/buton3.png">
            </a>
            <br />
            <a href="http://www.djangoproject.com" target="_blank">
                <img border="0" alt="django" src="{{ blog_url }}/../static/djangosite80x15_grey.gif">
            </a>
        </center>
    </div>

    <!-- Footer -->
    <div id="footer"><a href="http://svn.pardus.org.tr/projeler/zangetsu/">Zangetsu</a></div>
</body>
</html>
