<!-- Localization -->
{% load i18n %}
{% load library %}
{% build_blog_name %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Other meta stuff that matters -->
{{ blog_meta|safe }}

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ blog_url }}/feed/rss">
<link rel="stylesheet" href="{{ blog_url }}/static/style/blog.css" type="text/css" media="screen,projection">
<link rel="stylesheet" href="{{ blog_url }}/static/style/print.css" type="text/css" media="print">

<title>{{ blog_name }}{% block title %}{% endblock %}</title>

<!-- Enable tinyMCE for all textarea widgets
<script type="text/javascript" src="{{ blog_url }}/static/admin/media/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ blog_url }}/static/admin/media/tinymce/textareas-comments.js"></script>
-->

</head>
<body>
    <!-- Header -->
    <div id="header">
        <a href="{{ blog_url }}">{{ blog_name }}</a>
    </div>

    <!-- content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- menu -->
    <div id="menu">
        <!-- Description -->
        <center>{{ blog_desc|safe}}</center>

        <!-- Archives -->
        <h2>{% trans "Archives" %}</h2>
        <center>
        {% build_month_list %}
        <select class="dropdownselect" onchange="if (this.value != '') {location=this.value;}">
            <option value="">{% trans "Archives" %}</option>
            {% for month in blog_months %}
                <option value="{{ blog_url }}/{{ month|date:"Y/m"|lower }}/">{{ month|date:"F Y" }}</option>
            {% endfor %}
        </select>
        </center>

        <!-- Search -->
        <h2>{% trans "Search" %}</h2>
        <center>
            <form method="get" id="searchform" action="{{ blog_url }}/search/">
                <input class="dropdown" type="text" name="s" id="s">
            </form>
        </center>

        <!-- Tags -->
        <h2>{% trans "Tags" %}</h2>
        {% build_tag_list %}
        {% for tag in blog_tag %}
            <a href="{{ blog_url }}/feed/rss/{{ tag.title }}"><img border="0" alt="rss" src="{{ blog_url }}/static/image/feed-icon-12x12.gif"></a>
            <a href="{{ blog_url }}/tag/{{ tag.title }}">{{ tag.title }} ({{ tag.count }})</a><br>
        {% endfor %}

        <!-- Latest Comments -->
        <h2>{% trans "Latest Comments" %}</h2>
        <br>
        {% build_comment_list %}
        {% for comment in blog_comments %}
            <a href="{{ object.get_absolute_url }}#comments">{{comment.user_name}} commented;</a> {{ comment.comment|truncatewords:10|safe }}
            <span class="date"> {{ comment.submit_date|date:"d F y, l \@ H:i" }}</span>
            <br>
        {% endfor %}
        <br>
        <a href="{{ blog_url }}/comments">{%trans "All Comments"%}</a>

        <!-- Links -->
        <h2>{% trans "Links" %}</h2>
        {% build_link_list %}
        {% for link in blog_link %}
            <a href="{{ link.url }}/">{{ link.title }}</a><br>
        {% endfor %}

        <!-- Banners -->
        <h2>{% trans "Banners" %}</h2>
        <center>
        <a href="http://www.pardus.org.tr" target="_blank"><img border="0" alt="Pardus... Özgürlük İçin..." src="http://www.pardus.org.tr/banner/buton3.png"></a>
        </center>
    </div>

    <!-- Footer -->
    <div id="footer"><a href="http://svn.pardus.org.tr/projeler/zangetsu/">Zangetsu</a></div>
</body>
</html>
