<html><head><title>FasaFiso</title>

	
		
		<script src="login_files/whizzywig.js" type="text/javascript"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="login_files/style.css">
		<script language="javascript">
		
			function confirmSubmit(){
				var agree=confirm("Onaylıyor musunuz ?");
				if (agree) return true;
				else return false ;
			}

		</script>
		<script type="text/javascript">

			function toggleVisibility(el, src) {
				var v = el.style.display == "block";
				var str = src.innerHTML;
				el.style.display = v ? "none" : "block";
				src.innerHTML = v ? str.replace(/up/, "down") : str.replace(/down/, "up");
			}
			
		</script></head><body>
		<p>&nbsp;</p>
		<table class="login" align="center">
  		<tbody><tr>
    		<td><div align="center"> 
        		<table class="form_login">
          		<tbody><tr> 
            		<td height="172"> <div align="center"><a href="http://127.0.0.1/%7Erat/blog/"><img src="login_files/logo.png"></a></div></td></tr>
						<form action="" method="post"></form>
          		<tr> 
            		<td height="40"><div align="right">Kullanıcı Adı :
                		<input class="username" size="25" name="username" type="text">
              		</div></td>
          		</tr>
          		<tr> 
            		<td height="40"> <div align="right">Parola : 
                		<input class="password" size="25" name="password" type="password">
              		</div></td>
          		</tr>
          		<tr> 
            		<td height="40"> <div align="right"> 
                		<input name="Submit" value="Giriş" type="submit">
              		</div></td>
          		</tr>
			
        		</tbody></table>
      		</div>
  		</td></tr>
		</tbody></table>
			<a id="toocool" href="http://www.w3junkies.com/toocool/">No EKSPLORER !!</a>
	</body></html>