		<center>
		<div class="bar"><img src="{$blogurl}images/bar.png"></div>
<!--Main Page Starts Here-->
		<div class="main">
<!--Menu Starts Here -->
		<div class="menu">
			<div class="menu_h"><a href="#" onclick="tV(document.getElementById('menu'), this); return false">MENU</a></div>
			<p id="menu">
			<a href="?entry"><img src="{$blogurl}images/new.png">Yeni Yazı Ekle</a><br>
			<a href="#" onclick="tV(document.getElementById('olds'), this); return false"><img src="{$blogurl}images/old.png">Eski Yazılar</a><br>
			<a href="#" onclick="tV(document.getElementById('comments'), this); return false"><img src="{$blogurl}images/com.png">Yorumlar</a><br>
			<a href="?categories"><img src="{$blogurl}images/category.png">Kategoriler</a><br>
			<a href="?users"><img src="{$blogurl}images/users.png">Kullanıcılar</a><br>
			<a href="?quit"><img src="{$blogurl}images/quit.png">Çıkış</a>
			</p>
		</div>
<!--Menu Ends Here-->
