
/* yeniler */

* {
    font-size: 11px;
    font-family: Tahoma, Sans-Serif;
}

.Pbody {
    margin-left:0;
    margin-top:0;
    margin-right:0;
    background-image:url('images/HeadTile.png');
    background-repeat:repeat-x;
}

#header {
    background-image:url('images/HeadLogo.png');
    background-repeat:no-repeat;
    background-position: 0px -2px;
    height:119px;
}

#menu {
    font-weight:bold;
    font-size:10px;
    padding-top:93px;
    padding-left:200px;
}

li {
    list-style-image: url('images/BulletCyan.png');
}

#menu li {
    border:0;
    padding-left:5px;
    margin-left:4px;
    float:left;
}

#main {
    font-size: 16px;
    color: #297190;
    background-color: #EEE;
    width: 750px;
    height: 98%;
    vertical-align:top;
}

#main * {
    border: 1px solid #999;
    width: auto;
    padding: 3px;
}

#main select {
    height:20px;
    float:left;
    padding:1px;
}

#editor {
    width:100%;
    height:96%;
    margin-right:0px;
}

#baslik {
    float:left;
}

#toolbar {
    float:right;
}

#kutular {
    width:300px;
    background-color:#EEE;
    vertical-align:top;
    font-size:11px;
}

#solpane {
    width:300px;
    vertical-align:top;
}

#ayrintilar {
    padding:5px;
    color: cyan;
    background-color:#000;
}

#icerik #navi {
    vertical-align:top;
    height: 100px;
}

#ana-butonlar img {
    margin-left:1.5px;
}

#boxdetay1 {
    width:210px;
}

#boxdetay2 {
    width:270px;
}

#box2 {
    margin-left:3px;
    float:left;
}

#box3 {
    width:330px;
    border:1px solid #888;
    padding:5px;
    background-color:#EEAA00;
    margin-bottom:3px;
}

#box4 {
    width:200px;
    border:1px solid #888;
    padding:5px;
    height:100px;
    background-color:#DDD;
    margin-bottom:3px;
}

#news {
    margin-left:3px;
    width:200px;
    float:left;
    border:1px solid #DDD;
    padding:5px;
    height:500px;
    background-color:#BBB;
}

.title {
    background-color: #FFEE00;
    border-bottom: 1px solid #FFAA00;
}

/* eskiler feedback */


#kutular a {
	color: #000;
	text-decoration: none;
	/*font-weight: bold;*/
}

#kutular a:hover {
	color: #FFAA00;
    background-color:#FFF;
    margin-left:-2px;
}

#ana-butonlar a:hover {
    border-bottom:1px solid #8AC86C;
}

.header {
    font-size: 14px;
    font-weight: bold;
    background-color: #8AC86C;
    color:#FFF;
    padding:2px;
    height:auto;
}

.acik , .koyu {
    float:left;
    clear:left;
}
.acik *, .koyu * {
    font-size: 12px;
    color: #000;
}
.acik {
    background-color:#DDD;
}

.koyu {
    background-color:#BBB;
}

.dele {
    color: red;
    font-weight: bold;
    text-align:right;
    float:right;
    clear:right;
}

.yele {
    float:left;
    clear:left;
}

#over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity: 0.6;
    opacity: 0.6;
    text-align:center;
}

#htmleditor {
    position: absolute;
    padding:30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    background-color: #FFF;
    width: 100% 0;
}

/* For Login */

#loginPane {
    background: url('images/login.jpg') no-repeat left top;
    height: 200px;
    margin: 14% auto;
    width: 350px;
}

#loginNodes {
    padding-top: 100px;
}

#loginPane .txt {
    color: #666;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    width: 160px;
    border:1px solid #999;
    padding-left:2px;
}

#loginPane label {
    color: #585858;
    float: left;
    font-size: 1.3em;
    margin-left: 45px;
    width: 90px;
}

#loginPane div {
    height: 30px;
}

.button {
    margin-top:40px;
    float:right;
    margin-right: 20px;
    border: 1px solid #999;
}

.error {
    margin-left: 30px;
    font-weight: bold;
    color: red;
}

.infoLogin {
    margin-top:12px;
}