body { 
	background: #fff;
	font-family: verdana, arial, sans;
	font-size: 10pt;
	margin: 0 0 0 0;
}

html>body {
	background-attachment: fixed;
	background-image: url(./backblog.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	float: right;
}

#header {
	background-image: url(./bilinear.png);
	background-repeat: repeat-x;
	display: table;
	font-family: mono, sans-serif;
	font-size: medium;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 1ex 0;
	width: 100%;
}

#header a {
	color: #FFF; 
	font-weight: bold;
}

#footer {
	background-image: url(./bilinear.png);
	background-repeat: repeat-x;
	clear: both;
	display: table;
	font-family: mono, sans-serif;
	font-size: 10px;
	font-size: medium;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 1ex 0;
	text-align: center;
	width: 100%;
}

#footer a {
	color: #FFF; 
	font-weight: bold;
}

#content {
	display: block;
	float: left;
	padding: 0 0 0 1em;
	width: 70%;
}

#menu {
	margin-left: 70%;
	padding: 0 0 0 40px;
	width: 25%;
}

pre
{
	border: 1px dotted green;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

blockquote
{
	border:	1px dotted green;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

a {
	color: green;
	text-decoration: underline; 
}

a:visited {
	color: green;
	text-decoration: underline; 
}

a:hover {
	color: green;
	text-decoration: underline; 
}

hr {
	border: 0;
	border-bottom: 1px #999 dashed;
	width: 80%;
}

.date {
	color: #3f45d3;
	display: block;
	font-family: mono, sans-serif;
	font-size: 10px;
}

.dropdown {
	padding: 2px;
	width: 100%;
	border: 1px solid #eee;
}

.entry {
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	border-bottom: 1px #999 dashed;
	display: table;
	margin-bottom: 10px;
	padding: 15px 0 10px 40px;
	width: 95%;
}

.title {
	display: table;
}

.comment_odd
{
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding: 15px 0px 10px 40px;
}

.comment_even
{
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding: 15px 0px 10px 40px;
}

.tag_cloud_link {text-decoration: none;}
.tag_cloud_link:visited {text-decoration: none;}
.tag_cloud_link:hover {border-bottom: 1px dashed; text-decoration: none;}
.cloud_level_1 {font-size: 10pt;color: #99AA99;}
.cloud_level_2 {font-size: 12pt;color: #88AA88;}
.cloud_level_3 {font-size: 14pt;color: #77AA77;}
.cloud_level_4 {font-size: 16pt;color: #66AA66;}
.cloud_level_5 {font-size: 17pt;color: #55AA55;}
.cloud_level_6 {font-size: 18pt;color: #44AA44;}
.cloud_level_7 {font-size: 19pt;color: #33AA33;}
.cloud_level_8 {font-size: 20pt;color: #22AA22;}
.cloud_level_9 {font-size: 21pt;color: #11AA11;}
.cloud_level_10 {font-size: 22pt;color: #00AA00;}

.paginator-bottom {
	display: table;
	width: 60%;
	padding: 5px;
	margin-left:15%;
	margin-right:15%;
	margin-bottom: 20px;
	text-align: center;
	border: 1px green dashed;
}

.paginator-top {
	display: table;
	width: 60%;
	padding: 5px;
	margin-left:15%;
	margin-right:15%;
	margin-bottom: 20px;
	text-align: center;
	border: 1px green dashed;
}
