body { 
	background: #fff;
	font-family: verdana, arial, sans;
	font-size: 10pt;
	margin: 0 0 0 0;
}

html>body {
	background-attachment: fixed;
	background-image: url(./backblog.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	float: right;
}

#header {
	background-image: url(./bilinear.png);
	background-repeat: repeat-x;
	display: table;
	font-family: mono, sans-serif;
	font-size: medium;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 1ex 0;
	width: 100%;
}

#header a {
	color: #FFF; 
	font-weight: bold;
}

#footer {
	background-image: url(./bilinear.png);
	background-repeat: repeat-x;
	clear: both;
	display: table;
	font-family: mono, sans-serif;
	font-size: 10px;
	font-size: medium;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 1ex 0;
	text-align: center;
	width: 100%;
}

#footer a {
	color: #FFF; 
	font-weight: bold;
}

#content {
	display: block;
	float: left;
	padding: 0 0 0 1em;
	width: 75%;
}

#menu {
	margin-left: 75%;
	padding: 0 0 0 40px;
	width: 20%;
}

pre
{
	border: 1px dotted green;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

blockquote
{
	border:	1px dotted green;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

a {
	color: green;
	text-decoration: underline; 
}

a:visited {
	color: green;
	text-decoration: underline; 
}

a:hover {
	color: green;
	text-decoration: underline; 
}

hr {
	border: 0;
	border-bottom: 1px #999 dashed;
	width: 80%;
}

.date {
	color: #3f45d3;
	display: block;
	font-family: mono, sans-serif;
	font-size: 10px;
}

.dropdown {
	padding: 2px;
	width: 100%;
	border: 1px solid #eee;
}

.entry {
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	border-bottom: 1px #999 dashed;
	display: table;
	margin-bottom: 10px;
	padding: 15px 0 10px 40px;
	width: 95%;
}

.title {
	display: table;
}

.comment_odd
{
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding: 15px 0px 10px 40px;
}

.comment_even
{
	background-image: url(./entry.gif);
	background-repeat: no-repeat;
	font-size: x-small;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	padding: 15px 0px 10px 40px;
}

.paginator-bottom {
	display: table;
	width: 60%;
	padding: 5px;
	margin-left:15%;
	margin-right:15%;
	margin-bottom: 20px;
	text-align: center;
	border: 1px green dashed;
}

.paginator-top {
	display: table;
	width: 60%;
	padding: 5px;
	margin-left:15%;
	margin-right:15%;
	margin-bottom: 20px;
	text-align: center;
	border: 1px green dashed;
}
