body {
	background: #fff;
	font-family: verdana, arial, sans;
	font-size: 10pt;
	margin: 0 0 0 0;
	background:#ffffff;
	color:#000000;
}
	
#wrap{
	margin:2%;
	width:auto;
	float:none !important;
}

#menu{
	display:none;
}

a{
	text-decoration:underline;
	color:#0000ff;
	background-color:inherit;
}
