[Desktop Entry]
Name=Disk Manager
Name[az]=Disk İdarəçisi
Name[da]=Enheds håndtering
Name[de]=Datenträgerverwaltung
Name[es]=Administrar Montaje de Unidades de Almacenamiento
Name[fr]=Gestionnaire de partitions de disques durs
Name[hu]=Lemezkezelő
Name[it]=Gestore Disco
Name[nl]=Schijfbeheer
Name[pt_BR]=Gerenciador de Disco
Name[ru]=Менеджер дисков
Name[sr]=Диск Менаџер
Name[sv]=Hårddiskhanteraren
Name[tr]=Disk Yöneticisi
GenericName=Disk Manager
GenericName[az]=Disk İdarəçisi
GenericName[da]=Enheds håndtering
GenericName[de]=Datenträgerverwaltung
GenericName[es]=Administrar Montaje de Unidades de Almacenamiento
GenericName[fr]=Gestionnaire de partitions de disques durs
GenericName[hu]=Lemezkezelő
GenericName[it]=Gestore Disco
GenericName[nl]=Schijfbeheer
GenericName[pt_BR]=Gerenciador de Disco
GenericName[ru]=Менеджер дисков
GenericName[sr]=Диск Менаџер
GenericName[sv]=Hårddiskhanteraren
GenericName[tr]=Disk Yöneticisi
Comment=An application for managing partitions and their mount paths.
Comment[az]=Disk hissələri və məzmuna yollarının rəhbərliyi üçün bir tətbiq
Comment[de]=Partitonen & ihre Einhängepunkte verwalten
Comment[es]=Un programa para administrar particiones y sus puntos de montage
Comment[fr]=Une application de gestion des partitions et de leurs points de montage.
Comment[hu]=Alkalmazás a partíciók és a csatolási pontok kezelésére
Comment[it]=Un'applicazione per gestire partizioni e mount point.
Comment[nl]=Een toepassing voor het beheren van partities en aankoppelpunten.
Comment[pt_BR]=Um aplicativo para gerenciar partições e seus caminhos de montagem
Comment[ru]=Приложение для управления разделами и их монтированием.
Comment[sr]=Апликација за управљање партицијама и њиховим постављеним путањама.
Comment[sv]=Ett program för hantering av partitioner och deras monteringspunkter.
Comment[tr]=Disk bölümleri ve bağlama yollarının yönetimi için bir uygulama
Exec=disk-manager
Icon=drive-harddisk
Type=Application
Categories=Qt;KDE;System;
NotShowIn=KDE;
