[Desktop Entry]
Exec=kcmshell4 kcm_disk-manager
Icon=drive-harddisk
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=diskmanager
X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=disk-manager/disk-manager.py
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=70

Name=Disk Manager
Name[az]=Disk İdarəçisi
Name[da]=Enheds håndtering
Name[de]=Datenträgerverwaltung
Name[es]=Administrar Montaje de Unidades de Almacenamiento
Name[fr]=Gestionnaire de partitions de disques durs
Name[hu]=Lemezkezelő
Name[it]=Gestore Disco
Name[nl]=Schijfbeheer
Name[pt_BR]=Gerenciador de Disco
Name[ru]=Менеджер дисков
Name[sr]=Диск Менаџер
Name[sv]=Hårddiskhanteraren
Name[tr]=Disk Yöneticisi
Comment=An application for managing partitions and their mount paths.
Comment[az]=Disk hissələri və məzmuna yollarının rəhbərliyi üçün bir tətbiq
Comment[de]=Partitonen & ihre Einhängepunkte verwalten
Comment[es]=Un programa para administrar particiones y sus puntos de montage
Comment[fr]=Une application de gestion des partitions et de leurs points de montage.
Comment[hu]=Alkalmazás a partíciók és a csatolási pontok kezelésére
Comment[it]=Un'applicazione per gestire partizioni e mount point.
Comment[nl]=Een toepassing voor het beheren van partities en aankoppelpunten.
Comment[pt_BR]=Um aplicativo para gerenciar partições e seus caminhos de montagem
Comment[ru]=Приложение для управления разделами и их монтированием.
Comment[sr]=Апликација за управљање партицијама и њиховим постављеним путањама.
Comment[sv]=Ett program för hantering av partitioner och deras monteringspunkter.
Comment[tr]=Disk bölümleri ve bağlama yollarının yönetimi için bir uygulama
X-KDE-Keywords=python disk managers
