/* http://www.dynamicdrive.com/style/ */

.menubo {
    clear:both;
    padding-left:30px;
    background-color:#DDD;
    border-bottom:1px solid #CCC;
    z-index:100;
    position:relative;
}

.menubo li {
    background-image:none;
    padding-left:0;
    list-style-type:none;
}

.suckertreemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.suckertreemenu ul li{
    position: relative;
    display: inline;
    float: left;
    background-color: #F3F3F3; /*overall menu background color*/
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
    display: block;
    padding: 1px 8px;
    border-left-width: 0;
    border-bottom:1px solid #CCC;
    text-decoration: none;
    color: navy;
}

/*1st sub level menu*/
.suckertreemenu ul li ul{
    left: 0;
    position: absolute;
    top: 1em; /* no need to change, as true value set by script */
    display: block;
    visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{ 
    left: 159px; /* no need to change, as true value set by script */
    top: 0;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
    display: block;
    width: 160px; /*width of sub menu levels*/
    color: navy;
    text-decoration: none;
    padding: 1px 5px;
    list-style-type:none;
}

.suckertreemenu ul li a:hover{
    background-color:#DDD;
    color: #156FA5;
    alpha(opacity=90);-moz-opacity:.90;opacity:.90;
}

/*Background image for top level menu list links */
.suckertreemenu .mainfoldericon{
    background: #F3F3F3 url(images/down.gif) no-repeat center right;
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon{
    background: #F3F3F3 url(images/right.gif) no-repeat center right;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
    padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */

